{% extends "base.html" %} {% block content %} {% load static %}
<br />
<h1 class="westFont smokeOrange centerText widthResponsiveTextBig">
  Time to play!!
</h1>

<h4 class="westFont smokeRed middleText center infoBox">
  Thank you for your personal data. Now, choose five numbers between 1 and 69
  for your lotto balls and one number between 1 and 26 for your powerball. Then
  click play. Good luck!
</h4>

<br />
  <div class="container-fluid westFont smokeOrange center centerText">
    <div class="row">
      <div class="col-2 ballValue">
          <div class="backgroundWhiteBallWithX">
            <div class="innerBallText"></div>
          </div>
      </div>
      <div class="col-2 ballValue">
          <div class="backgroundWhiteBallWithX">
            <div class="innerBallText"></div>
          </div>
      </div>
      <div class="col-2 ballValue">
          <div class="backgroundWhiteBallWithX">
            <div class="innerBallText"></div>
          </div>
      </div>
      <div class="col-2 ballValue">
          <div class="backgroundWhiteBallWithX">
            <div class="innerBallText"></div>
          </div>
      </div>
      <div class="col-2 ballValue">
          <div class="backgroundWhiteBallWithX">
            <div class="innerBallText"></div>
          </div>
      </div>
      <div class="col-2 ballValue">
          <div class="backgroundRedBallWithX">
            <div class="innerBallText powerBallClass"></div>
          </div>
        </div>
    </div>
  </div>

  <div class="numberGrid container widthResponsiveTextLittle">
    <br />

    <h3 class="textLeft smokeOrange typeWriterFont mobileTextMedium">
      SELECT YOUR BALLS:
    </h3>
    <br />
    <div class="row">
      <div class="col-sm-1 col-2 numberCell">1</div>
      <div class="col-sm-1 col-2 numberCell">2</div>
      <div class="col-sm-1 col-2 numberCell">3</div>
      <div class="col-sm-1 col-2 numberCell">4</div>
      <div class="col-sm-1 col-2 numberCell">5</div>
      <div class="col-sm-1 col-2 numberCell">6</div>
      <div class="col-sm-1 col-2 numberCell">7</div>
      <div class="col-sm-1 col-2 numberCell">8</div>
      <div class="col-sm-1 col-2 numberCell">9</div>
      <div class="col-sm-1 col-2 numberCell">10</div>
      <div class="col-sm-1 col-2 numberCell">11</div>
      <div class="col-sm-1 col-2 numberCell">12</div>
      <div class="col-sm-1 col-2 numberCell">13</div>
      <div class="col-sm-1 col-2 numberCell">14</div>
      <div class="col-sm-1 col-2 numberCell">15</div>
      <div class="col-sm-1 col-2 numberCell">16</div>
      <div class="col-sm-1 col-2 numberCell">17</div>
      <div class="col-sm-1 col-2 numberCell">18</div>
      <div class="col-sm-1 col-2 numberCell">19</div>
      <div class="col-sm-1 col-2 numberCell">20</div>
      <div class="col-sm-1 col-2 numberCell">21</div>
      <div class="col-sm-1 col-2 numberCell">22</div>
      <div class="col-sm-1 col-2 numberCell">23</div>
      <div class="col-sm-1 col-2 numberCell">24</div>
      <div class="col-sm-1 col-2 numberCell">25</div>
      <div class="col-sm-1 col-2 numberCell">26</div>
      <div class="col-sm-1 col-2 numberCell">27</div>
      <div class="col-sm-1 col-2 numberCell">28</div>
      <div class="col-sm-1 col-2 numberCell">29</div>
      <div class="col-sm-1 col-2 numberCell">30</div>
      <div class="col-sm-1 col-2 numberCell">31</div>
      <div class="col-sm-1 col-2 numberCell">32</div>
      <div class="col-sm-1 col-2 numberCell">33</div>
      <div class="col-sm-1 col-2 numberCell">34</div>
      <div class="col-sm-1 col-2 numberCell">35</div>
      <div class="col-sm-1 col-2 numberCell">36</div>
      <div class="col-sm-1 col-2 numberCell">37</div>
      <div class="col-sm-1 col-2 numberCell">38</div>
      <div class="col-sm-1 col-2 numberCell">39</div>
      <div class="col-sm-1 col-2 numberCell">40</div>
      <div class="col-sm-1 col-2 numberCell">41</div>
      <div class="col-sm-1 col-2 numberCell">42</div>
      <div class="col-sm-1 col-2 numberCell">43</div>
      <div class="col-sm-1 col-2 numberCell">44</div>
      <div class="col-sm-1 col-2 numberCell">45</div>
      <div class="col-sm-1 col-2 numberCell">46</div>
      <div class="col-sm-1 col-2 numberCell">47</div>
      <div class="col-sm-1 col-2 numberCell">48</div>
      <div class="col-sm-1 col-2 numberCell">49</div>
      <div class="col-sm-1 col-2 numberCell">50</div>
      <div class="col-sm-1 col-2 numberCell">51</div>
      <div class="col-sm-1 col-2 numberCell">52</div>
      <div class="col-sm-1 col-2 numberCell">53</div>
      <div class="col-sm-1 col-2 numberCell">54</div>
      <div class="col-sm-1 col-2 numberCell">55</div>
      <div class="col-sm-1 col-2 numberCell">56</div>
      <div class="col-sm-1 col-2 numberCell">57</div>
      <div class="col-sm-1 col-2 numberCell">58</div>
      <div class="col-sm-1 col-2 numberCell">59</div>
      <div class="col-sm-1 col-2 numberCell">60</div>
      <div class="col-sm-1 col-2 numberCell">61</div>
      <div class="col-sm-1 col-2 numberCell">62</div>
      <div class="col-sm-1 col-2 numberCell">63</div>
      <div class="col-sm-1 col-2 numberCell">64</div>
      <div class="col-sm-1 col-2 numberCell">65</div>
      <div class="col-sm-1 col-2 numberCell">66</div>
      <div class="col-sm-1 col-2 numberCell">67</div>
      <div class="col-sm-1 col-2 numberCell">68</div>
      <div class="col-sm-1 col-2 numberCell">69</div>
      </div>
  </div>
  <br />
  <br />
  <br />

  <div class="numberGrid container widthResponsiveTextLittle">
    <h3 class="textLeft smokeOrange typeWriterFont mobileTextMedium">
      SELECT YOUR POWERBALL:
    </h3>
    <br />
    <div class="row">
      <div class="col-sm-1 col-2 numberCellPB">1</div>
      <div class="col-sm-1 col-2 numberCellPB">2</div>
      <div class="col-sm-1 col-2 numberCellPB">3</div>
      <div class="col-sm-1 col-2 numberCellPB">4</div>
      <div class="col-sm-1 col-2 numberCellPB">5</div>
      <div class="col-sm-1 col-2 numberCellPB">6</div>
      <div class="col-sm-1 col-2 numberCellPB">7</div>
      <div class="col-sm-1 col-2 numberCellPB">8</div>
      <div class="col-sm-1 col-2 numberCellPB">9</div>
      <div class="col-sm-1 col-2 numberCellPB">10</div>
      <div class="col-sm-1 col-2 numberCellPB">11</div>
      <div class="col-sm-1 col-2 numberCellPB">12</div>
      <div class="col-sm-1 col-2 numberCellPB">13</div>
      <div class="col-sm-1 col-2 numberCellPB">14</div>
      <div class="col-sm-1 col-2 numberCellPB">15</div>
      <div class="col-sm-1 col-2 numberCellPB">16</div>
      <div class="col-sm-1 col-2 numberCellPB">17</div>
      <div class="col-sm-1 col-2 numberCellPB">18</div>
      <div class="col-sm-1 col-2 numberCellPB">19</div>
      <div class="col-sm-1 col-2 numberCellPB">20</div>
      <div class="col-sm-1 col-2 numberCellPB">21</div>
      <div class="col-sm-1 col-2 numberCellPB">22</div>
      <div class="col-sm-1 col-2 numberCellPB">23</div>
      <div class="col-sm-1 col-2 numberCellPB">24</div>
      <div class="col-sm-1 col-2 numberCellPB">25</div>
      <div class="col-sm-1 col-2 numberCellPB">26</div>
    </div>
  </div>
  <form id="playLottoForm" method="post" novalidate>
    {% csrf_token %}
    <div class="hide div">
      {{ form.ball1 }} {{ form.ball2 }} {{ form.ball3 }} {{form.ball4 }}
      {{form.ball5 }} {{ form.powerBall }}
    </div>

    <div class="middleText typeWriterFont">
      <button
        id="playTheLotto"
        class="btn btn-success"
        onclick="submitForm()"
        type="button"
        hidden
      >
        PLAY THE LOTTO!
      </button>
    </div>
  </form>

  <script src="{% static 'main/js/balls.js' %}"></script>
  {% endblock %}
</div>
